@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap'); /* 
    * 1. Utilites
    * 2. Fonts
    * 3. Header
        3.1 Header Top
    * 4. Footer
    * 5. Mobile
    * 6. Page Builder
    * 7. Form
*/
/* 
    * 1. Utilites 
*/
:root {
    --orange: #E66F24; --light-orange: #E5A864; --purple: #383855; --light-purple: #7A7A94; --bright-green: #21E5AE; --light-bright-green: #98EDD5; --red: #AD1B3F; --light-red: #C16887; --off-white: #EEEEEE; --off-black: #2b2b2b; --off-green: #629174; --header: 'montserrat', sans-serif; --subheader: 'roboto', sans-serif; --extraSubheader: 'arvo', sans-serif; --paragraph: 'lato', sans-serif; --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

::-moz-selection {
    background: var(--orange);
    color: #fff;
}

::selection {
    background: var(--orange);
    color: #fff;
}

::placeholder color: #B8B8B8; }

html {
    font-size: 10px;
    color: #6D6D6D;
}

@media (max-width: 767px) {
    html {
        font-size: 9px;
    }
}

.white, .white h1, .white h2, .white h3, .white h4, .white h5, .white h6, .white p, .white a, .white li {
    color: #fff;
}

.bold {
    font-weight: bold;
}

img {
    width: 100%;
}

c {
    transition: 0.3s ease;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.purple {
    color: var(--purple);
}

.orange {
    color: var(--orange);
}

/* Regular Buttons */
.btn {
    padding: 1.5rem 2rem;
    color: #fff;
    font-family: var(--paragraph);
    font-size: 1.8rem;
    line-height: 1.8rem;
    transition: 0.3s ease;
    border-radius: 10px;
    box-shadow: var(--shadow);
    text-transform: capitalize;
    margin-top: 2rem;
    min-width: 150px;
    width: auto;
}

.btn.orange {
    background-color: var(--orange);
}

.btn.light-orange {
    background-color: var(--light-orange);
}

.btn.purple {
    background-color: var(--purple);
}

.btn.light-purple {
    background-color: var(--light-purple);
}

.btn:hover, .btn:focus {
    background-color: var(--off-black);
    color: #fff;
}

/* Ghost Buttons */
.btn.ghost {
    background-color: transparent;
    border: 4px solid var(--orange);
}

.btn.ghost.orange {
    border-color: var(--orange);
    color: var(--orange);
}

.btn.ghost.purple {
    border-color: var(--purple);
    color: var(--purple);
}

.btn.ghost.orange:hover {
    background-color: var(--orange);
    color: #fff;
}

.btn.ghost.purple:hover {
    background-color: var(--purple);
    color: #fff;
}

.center {
    text-align: center;
}

.padding-6 {
    padding: 6rem 0;
}

.padding-10 {
    padding: 10rem 0;
}

.overlay {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.7;
}

.flex-height {
    display: flex;
}

.width-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

.eq-height {
    display: flex;
    flex-wrap: wrap;
}

.eq-height .col-md-6 {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.grey-div {
    background-color: #F1F1F1;
}

.center.width-75 {
    margin: 2rem auto;
}

.strict-image-wrapper {
    width: 100%;
}

.strict-image-wrapper img {
    width: 300px;
}

@media (max-width: 992px) {
    .strict-image-wrapper img {
        width:80%;
        margin: 2rem 0;
        max-width: 200px !important;
    }
}

/* 
    * 2. Fonts 
*/
body {
    color: #6D6D6D;
}

h1 {
    font-family: var(--header);
    font-weight: 800;
    font-size: 5rem;
    line-height: 6.565rem;
    color: #000;
}

h2 {
    font-family: var(--header);
    font-weight: bold;
    font-size: 4rem;
    line-height: 5.252rem;
    color: #555;
}

h3 {
    font-family: var(--header);
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 4.5955rem;
    color: var(--orange);
}

h4 {
    font-family: var(--subheader);
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.2825rem;
}

h5 {
    font-family: var(--subheader);
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.2825rem;
    width: 100%;
}

h6 {
    font-family: var(--subheader);
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.626rem;
    color: #000;
}

.orange-arrow ul li, .orange-check ul li, p {
    font-family: var(--paragraph);
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

ul li {
    list-style: none;
    color: #000;
    text-transform: capitalize;
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0rem;
    position: relative;
}

.orange-check li::before, .orange-arrow li::before {
    content: '';
    width: 3rem;
    height: 3rem;
    display: flex;
    background-image: url(/wp-content/uploads/2020/07/orange-check.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.orange-arrow li::before {
    background-image: url(/wp-content/uploads/2020/07/orange-arrow.png)
}

.orange-check li p strong, .orange-arrow li p strong {
    color: var(--purple);
    font-size: 1.5rem;
}

.orange-arrow li p strong {
    display: block;
}

h3.widget-title {
    margin-bottom: 2rem;
}

.header-navigation-burger {
    display: none;
}

nav.menu-header-container ul#menu-header li {
    display: inline-flex;
}

nav.menu-header-container ul#menu-header li a {
    color: #7C7C7C;
    text-transform: uppercase;
    font-family: (--paragraph);
    margin-left: 2rem;
    font-size: 1.8rem;
    text-decoration: none;
    transition: 0.3s ease;
}

nav.menu-header-container ul#menu-header li a:hover, nav.menu-header-container ul#menu-header li a[aria-current="page"] {
    color: #fff;
}

.panel-grid-cell .widget-title, .subheader {
    font-family: var(--extraSubheader);
    color: #919090;
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 3rem 0;
}

/* 
    * 3. Header 
*/
header {
    box-shadow: var(--shadow);
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    position: relative;
}

.header-logo img {
    max-width: 100px;
}

header nav.menu-main-navigation-container ul {
    display: flex;
    max-width: 820px;
    margin: 0;
    justify-content: flex-end;
    float: right;
}

nav.menu-header-container ul#menu-header {
    float: right;
}

header nav.menu-main-navigation-container ul li {
    margin: 0 2rem 0 0;
}

header nav.menu-main-navigation-container ul li a {
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    text-decoration: none;
    position: relative;
}

header nav.menu-main-navigation-container ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--blue);
    transition: 0.3s ease;
}

header nav.menu-main-navigation-container ul li a:hover::before, header nav.menu-main-navigation-container ul li a[aria-current="page"]::before {
    width: 100%;
    transition: 0.3s ease;
}

header nav.menu-main-navigation-container ul li a[aria-current="page"] {
    color: var(--blue);
}

@media (min-width: 992px) {
    .header-navigation-list {
        display: block !important;
    }
}

@media (max-width: 992px) {
    nav.menu-header-container ul#menu-header {
        float: none;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .header-navigation-burger {
        display: block;
    }

    .header-navigation-burger svg {
        width: 7rem;
        height: auto;
    }

    .header-navigation-burger, .header-logo {
        width: 100%;
    }

    .header-navigation-burger {
        text-align: right;
    }

    .header-navigation-list {
        position: absolute;
        left: 0;
        background-color: var(--orange);
        top: 100%;
        width: 100%;
        padding: 0;
        display: none;
        z-index: 9;
    }

    nav.menu-header-container ul#menu-header li a, nav.menu-header-container, nav.menu-header-container ul#menu-header li {
        width: 100%;
        color: #fff;
    }

    nav.menu-header-container ul#menu-header li {
        margin: 0;
        padding: 0;
    }

    nav.menu-header-container ul#menu-header li:not(:last-child) {
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    nav.menu-header-container ul#menu-header li a {
        font-size: 2rem;
        padding: 2rem 0;
    }

    nav.menu-header-container ul#menu-header li a:hover {
    }
}

/* 
    * 4. Footer 
*/
.footer-top {
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-bottom .container::before {
    display: none;
}

.footer-bottom a p, .footer-bottom a {
    transition: 0.3s ease;
}

.footer-bottom a:hover, .footer-bottom a:hover p {
    color: var(--orange);
    opacity: 1;
}

footer .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0;
}

footer .form-wrapper .btn {
    margin: 0;
}

footer .form-wrapper .email {
    width: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
}

footer .form-wrapper .email input {
    width: 100%;
    -webkit-appearance: none;
    border: none;
    border-radius: 3px;
    padding: 0;
}

footer .form-wrapper .btn.purple {
    float: right;
}

footer .form-wrapper .submit {
    width: 200px;
}

footer .form-wrapper .btn.purple {
    padding: 2rem;
    width: 179px;
}

footer .form-wrapper .email input {
    color: #000;
    padding: 2rem;
    font-family: var(--paragraph);
    font-size: 1.5rem;
    background-color: #fff;
}

.wpcf7-form-control-wrap {
    width: 100%;
    margin: 0 auto;
}

.footer-top h3 {
    text-align: center;
    margin-bottom: 0;
}

/* Footer Bottom */
.footer-bottom {
    background-color: #474747;
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-bottom .container h4 {
    margin-bottom: 20px;
    margin-top: 0;
}

.footer-bottom .container ul li {
    display: flex;
}

.footer-bottom .container ul li a {
    padding-bottom: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.footer-bottom a p {
    text-decoration: none;
}

.white-filter {
    filter: brightness(0) invert(1);
}

.logo-wrapper img {
    width: 150px;
}

ul.social-contact {
    display: flex;
}

ul.social-contact li img {
    width: 3rem;
    margin: 0 1.5rem;
    transition: 0.3s ease;
}

ul.social-contact li img:hover {
    opacity: 0.8;
}

a.logo-wrapper p {
    width: 150px;
    text-align: center;
    margin-top: 20px;
}

.footer-signoff {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 6rem;
}

.footer-bottom .container ul li {
    width: 100%;
    display: flex;
    padding: 0;
}

.footer-signoff {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    flex-wrap: wrap;
}

.legal, .signature {
    width: 50%;
    display: flex;
}

.legal p {
    text-align: right;
    width: 100%;
}

@media (max-width: 992px) {
    footer .form-wrapper {
        flex-direction: column;
    }

    .footer-bottom .container ul li {
        justify-content: center;
        text-align: center;
    }

    footer .form-wrapper .submit , footer .form-wrapper .email {
        width: 100%;
        text-align: center;
    }

    footer .form-wrapper .btn.purple {
        float: none;
        margin: 2rem auto;
    }

    div.wpcf7 .ajax-loader {
        display: none;
    }

    .footer-bottom .container > div {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .signature, .legal, .legal p {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .footer-bottom .container > div {
        width:100%;
    }
}

#main {
    background-color: #eee;
}

body.page-template-default main .container {
    padding: 8rem 0;
}

.page-template-default footer {
    margin: 0;
}

main .intro-banner {
    padding-top: 0;
}

/* 
    6. Page Builder 
*/
.pb-content .textwidget a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    transition: 0.3s ease;
}

.pb-content .textwidget a:hover {
    color: var(--orange);
}

.panel-grid {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: initial !important;
}

.so-panel {
    /* height: 100%; */
}

.panel-cell-style {
    background-repeat: no-repeat;
    background-position: center;
}

.margin-10 {
    margin: 10rem;
}

.margin-top-10 {
    margin-top: 10rem;
}

.margin-bottom-10 {
    margin-bottom: 10rem;
}

.padding-6 {
    padding: 6rem 0;
}

.panel-grid-cell-empty {
    display: block !important;
}

.panel-cell-style {
    min-height: 500px;
}

/* 7. Form */
form div input, form div textarea {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

span.wpcf7-list-item {
    display: inline-flex;
    align-items: center;
    margin-left: 0;
}

span.wpcf7-list-item input[type="checkbox"] {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    margin: 0 1rem 0 0;
    border-radius: 0;
    border: 1px solid #2b2b2b;
}

form input:not([type="submit"]), form textarea {
    background-color: #E5E5E5;
    border-radius: 5px;
    border: none;
    -webkit-appearance: none;
    padding: 1rem;
    width: 100%;
}

/*  
    * 8. Blog 
*/
.post-sidebar li {
    padding-left: 0;
}

.post-sidebar h4, .post-sidebar li a {
    color: #000;
}

.post-sidebar li a:hover {
    opacity: 0.7;
}

.post-content > div:not(:last-child) {
    margin-bottom: 5rem;
}

@media (max-width: 992px) {
    .post-sidebar ul {
        display: flex;
    }

    .post-sidebar li a {
        display: inline-flex;
        background-color: #eee;
        width: auto;
        border-radius: 5px;
        margin: 0 2rem 0 0;
        padding: 0.5rem 1rem;
    }
}

span.pods-pagination-paginate, .pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
}

.page-numbers {
    display: inline-flex;
    background-color: var(--off-white);
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    color: #000;
    margin: 0 0.5rem;
}

.page-numbers.current, .page-numbers:hover {
    background-color: var(--orange);
    color: #fff;
}

a.featured-image-post {
    min-height: 300px;
    display: flex;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.post-sidebar {
    position: relative;
}

.post-sidebar ul {
    position: sticky;
    top: 10vh;
}

.post-content h3 {
    margin: 0;
}

.post-content > div:not(:last-child) {
    margin-bottom: 3rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 3rem;
}

.post-content iframe {
    max-width: 100%;
    margin: 3rem 0;
}

.intro-content {
    margin-bottom: 6rem;
}

.intro-content hr {
    margin-top: 3rem;
}

.orange-arrow li ,
.orange-check li {
    padding-left: 4rem;
    display: flex;
}

@media (max-width: 992px) {
    .post-sidebar ul {
        position:initial;
    }

    a.featured-image-post {
        min-height: 1px;
        padding: 30%;
    }
}
